---
layout: default

---

<header class="main-header post-head {%if site.cover%}" style="background-image: url({{site.cover}}){%else%}no-cover{%endif%}">
    {% include nav.html %}

    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Tag: {{page.title}}</h1>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
    {% if site.tags[page.title] %}
        {% for post in site.tags[page.title] %}
            {% include post-item.html %}
        {% endfor %}
    {% endif %}
</main>